
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>paypistol</title>
		<meta charset="utf-8">
		<meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width">
		<link rel="icon" type="image/x-icon" href="/favicon.ico">
		<link href="/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
		<link href="/css/index.css" rel="stylesheet">
	</head>
	<body>
	<div class="container">
		<div class="center-screen">
			<img src="/img/pistol_v_sketch.webp" width="200" height="260" />
			<ul class="pistol_ul">
				<li><a href="/paper-wallet" class="pistol_button_enabled">I need a wallet</a></li>
				<li><a href="#" class="pistol_button_disabled">I need a paypistol (soon™)</a></li>
				<li><a href="#" class="pistol_button_disabled">verify a message (soon™)</a></li>
			</ul>
		</div>
	</div>
	<footer class="footer align-items-center ">
		<div class="container">
			<p class="col-md-12 mb-0 text-muted text-center">© 2022 Absolutely Skint</p>
		</div>
	</footer>
	<script src="/js/bootstrap.min.js"></script>
    </body>
</html>