
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
		<link href="/css/paper.css" rel="stylesheet">
	</head>
	<body>
	<div class="container-fluid">
		<div class="row header">
			<p><img src="/paperwallet/pistol-girl-animate.webp" class="pistol-group-img" /></p>
		</div>
		<div class="row">
			<div class="d-none d-md-block col-md-2 col-lg-2"><img src="/paperwallet/pistol-girl-color.webp" class="pistol-girl-img" /> </div>
			<div class="col-md-8 col-lg-8 rcorners2">
				<h1>A BitcoinSV Paper Wallet Generator</h1>
				<div class="line-1"></div>
				<div class="col-md-1"></div>
				<p class="text-muted">Create paper Wallets to Store Your BitcoinSV offline and without a web service wallet.</p>
			<p><img src="/paperwallet/tick.webp" class="tick"/>The Most Secure - Paper wallets are the most secure wallet. If you never import your private key, it will never be exposed.</p>
			<p><img src="/paperwallet/tick.webp" class="tick"/>Create Offline – Once this page is loaded you can turn off your WIFI & Cell network. After turning off your network (or going into airplane mode) you can generate the wallets. Save a screenshot of the page & clear the list. Then turn WIFI back on. Your wallets were created offline, and all evidence on the website was destroyed before you cameback online</p>
			<p><img src="/paperwallet/tick.webp" class="tick"/>No Seed Just Keys – If you generate keys from a seed. exposing your seed will expose all the private keys generated from that seed. This paper wallet generates 3 random private key so that no one cantrace them back to one origin.
			</p>
			<p><img src="/paperwallet/tick.webp" class="tick"/>Are you a developer looking for the base code? Run the code for yourself using nodejs: <a href="https://github.com/Absolutely-Skint/paypistol-paper-sv" title="paypistol-paper-sv">Git Hub Here</a></p>
			<p><button class="btn_make_wallets" title="Generate Wallets" onclick="generateWallets();">Make My Paper Wallets (x3)</button></p>
			</div>
			<div class="d-sm-none col-lg-2 col-md-2">

			</div>
		</div>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8 col-sm-12 mt-4">
				<section id="wallet-drop">
			</section>
			</div>
		</div>
	</div>
	<script src="https://unpkg.com/bsv@1.5.6"></script>
	<script src="https://unpkg.com/bsv@1.5.6/bsv-message.min.js"></script>
	<script src="https://unpkg.com/bsv@1.5.6/bsv-mnemonic.min.js"></script>
	<script src="https://unpkg.com/@runonbitcoin/nimble"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/paperwallet/paper.js"></script>
    </body>
</html>

